@import (less) "./base/normalize.css";
@import (less) "./base/skeleton.css";

@import "./base/mixins.less";
@import "./base/colors.less";
@import "./base/modal.less";
@import "./base/helpers.less";

@import "./components/hero.less";
@import "./components/header.less";
@import "./components/comments.less";
@import "./components/image_list.less";

@import "./pages/home.less";
@import "./pages/profile.less";
@import "./pages/show_image.less";

.container {
  max-width: 1000px;
}

a,
a:visited {
  color: @black;
  &:hover {
    text-decoration: underline;
  }
}

body, p {
  font: 300 18px/1.5em 'Open Sans Condensed', arial, sans-serif;
  color: @black;
}

.storefront-items {
  img {
    width: 50px;
  }
}
