<div class="header container">
  <div class="navbar-header">
    <div class="navbar-logo">
      <a href="/">COPCULT</a>
    </div>
  </div>
  <div class="navbar-right">
    <a type="button" class="btn btn-default navbar-btn navbar-right" href="/auth/instagram">Login via Instagram</a>
  </div>
</div>
