<div class="header container u-cf">
  <div class="left u-pull-left">
    <a class="logo" href="/">COPCULT</a>
  </div>
  <div class="right u-pull-right">
    <img class="img-circle" src="{{ user.instagramProfilePicture }}" alt="Generic placeholder image" />
    <span>{{ user.instagramUsername }}</span>
    <a href="/logout">Logout</a>
  </div>
</div>
