<div class="header container">
  <div class="navbar-header">
    <div class="navbar-logo">
      <a href="/">COPCULT</a>
    </div>
  </div>
  <div class="navbar-right">
    <img class="img-circle" src="{{ user.instagramProfilePicture }}" alt="Generic placeholder image" />
    <span>{{ user.instagramUsername }}</span>
    <a href="/logout">Logout</a>
  </div>
</div>
