<div class="header container u-cf">
  <div class="left u-pull-left">
    <a class="logo" href="/">COPCULT</a>
  </div>
  <div class="right u-pull-right">
    <a class="button" href="/auth/instagram">Login via Instagram</a>
  </div>
</div>
