<!doctype html>
<html>
  {{>headtag}}
  <body class="preload">

    {{>header}}

    <div class="wrapper">
      {{> body}}
      <div class="footer-push"></div>
    </div>

    {{>footer}}

    {{>scripts}}
  </body>
</html>
