<div class="download">
  <div class="container">
    <div class="section col-sm-5 col-sm-offset-1">
      <h2>Get Venmo</h2>
      <p>
        Pay and connect with your friends on<br /> the go with Venmo for your phone.
      </p>
    </div>
    <div class="section col-sm-6 col-sm-offset1">
      <div class="row phones">
        <div class="section col-sm-6 download-link iphone">
          <div class="download-link">
            <a href="{{links.iosApp}}" target="_blank">
              <div class="asset-download-iphone"></div>
              <p>iPhone</p>
            </a>
          </div>
        </div>
        <div class="section col-sm-5 download-link android">
          <div class="download-link">
            <a href="{{links.androidApp}}" target="_blank">
              <div class="asset-download-android"></div>
              <p>Android</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
