<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="Arbiter, curate taste your taste.">

  {{! Apple Smart App Banner }}
  <!-- <meta name="apple&#45;itunes&#45;app" content=""> -->

  {{! Facebook Open Graph }}
  <meta property="og:type" content="company">
  <meta property="og:title" content="Arbiter">
  <meta property="og:url" content="http://facebook.com/arbiter">
  <!-- <meta property="og:image" content=""> -->
  <meta property="og:site_name" content="arbiter.supply">
  <meta property="og:description" content="I just made a purchase on arbiter.">
  <!-- <meta property="og:app_id" content="180347063770"> -->

  <title>Arbiter</title>

    <link href="/stylesheets/arbiter.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/fav.ico">
</head>

