<div class="col-lg-4">
  <img class="img-circle" src="{{ instagramProfilePicture }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
  <h2>{{ instagramUsername }}</h2>
  <p>{{ instagramBio }}</p>
  <p><a class="btn btn-default" href="/{{ instagramUsername }}" role="button">View storefront »</a></p>
</div><!-- /.col-lg-4 -->
