<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Jaded</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
      <a type="button" class="btn btn-default navbar-btn navbar-right" href="/auth/instagram">Login via Instagram</a>
    </div>
  </div>
</nav>
