<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <h2>Featured Curators</h2>
  </div>

  <div class="row">
    {{# each featuredCurators }}
      {{> home/loggedOut/featuredCurator }}
    {{/ each }}
  </div><!-- /.row -->

</div>
